<a href="https://colab.research.google.com/github/Ayaj-Ahmed/CAPSTONE-EDA/blob/main/Airbnb_Bookings_EDA_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

## <b> Explore and analyze the data to discover key understandings (not limited to these) such as : 
* What can we learn about different hosts and areas?
* What can we learn from predictions? (ex: locations, prices, reviews, etc)
* Which hosts are the busiest and why?
* Is there any noticeable difference of traffic among different areas and what could be the reason for it? </b>

## <b> Data Exploration on Airbnb (NYC)</b>
<b>Airbnb, Inc. is an American company that operates an online marketplace for lodging, primarily homestays for vacation rentals, and tourism activities.</b>

![Airbnb logo.png]()

In [ ]:
# Importing necessary libraries for analysis of the dataset.
#This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import matplotlib.image as mpimg
%matplotlib inline
import seaborn as sns

In [ ]:
#importing dataset from Local Drive(PC)
from google.colab import files
uploaded = files.upload()

Saving airbnbnyc2019.csv to airbnbnyc2019.csv

In [ ]:
#Python io module allows us to manage the file-related input and output operations. 
import io
# using pandas library and 'read_csv' function to read Airbnb NYC 2019 csv file
airbnb = pd.read_csv(io.BytesIO(uploaded['airbnbnyc2019.csv']))
#examing head of Airbnb NYC 2019 csv file
airbnb.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365

In [ ]:
# checking the number of rows in the given dataset to understand the size of the data
print("Rows     :",airbnb.shape[0])
print("Columns  :",airbnb.shape[1])
print("\nFeatures :\n",airbnb.columns.tolist())
print("\nMissing Value    :\n",airbnb.isnull().sum())
print("\nTotal Number of Missing Value in the Dataset    :",airbnb.isnull().sum().sum())
print("\nColumns with missing value:\n",airbnb.isnull().any())

Rows     : 48895
Columns  : 16

Features :
 ['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']

Missing Value    :
 id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Total Number of Missing Value in the Dataset    : 20141

Columns with missing value:
 id                                False
name                               True
host_id                           False
host_name                          True
neighbourhood_group               False
neighbourhood                     False
latitude                          False
longitude                         False
room_type                         False
price                             False
minimum_nights                    False
number_of_reviews                 False
last_review                        True
reviews_per_month                  True
calculated_host_listings_count    False
availability_365                  False
dtype: bool

#<b>We have 4 column that contains a missing value</b>
name, host_name, last_review & reviews_per_month.

1) Name:- We dont need this column as we can do with host "ID" instead for the sake of simplicity.

2) host_name:- No rationale could be formed to continue data exploration towards specific individuals based on their names. For ethical reason keeping data privacy norms in minds we are dropping this column

3) last_reviews:- This column is irrelevant as no concencrete observation can be deduced from this column hence we are dropping this column

4) reviews_per_month- It had been assumed that there is no reviews for the listing leading to the blank cells hence a value of "0" (zero) can be assigned to those missing values/blank cells for a simplified approach.

In [ ]:
#replacing all NaN values in 'reviews_per_month' with 0
airbnb.fillna({'reviews_per_month':0}, inplace=True)
#Checking out the results
airbnb.reviews_per_month.isnull().sum()

0

In [ ]:
#dropping columns that are not important for data analysis or could be unethical to use for data exploration and predictions
airbnb.drop(['name','host_name','last_review'], axis=1, inplace=True)
#Checking out the results
airbnb.head(3)

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365
1,2595,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355
2,3647,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,1,365

In [ ]:
#checking type of every column in the dataset
airbnb.dtypes

id                                  int64
host_id                             int64
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object